.newsPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.newList{
    padding: 1rem;
    border-radius: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5rem auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6rem;
    border: 1px solid rgb(223, 223, 223);
}

.newsTitle {
    text-transform: uppercase;
    text-align: center;
    margin: 2rem auto 0;
}

.newsDate {
    text-align: center;
    margin: 0 auto 1rem;
} 

.bannerNews{
    width: 98%;
    max-width: 50rem;
    margin: 0 auto 2rem;
    display: block;
    border-radius: 8px;
}

.newsText{
    width: 98%;
    max-width: 70rem;
    margin: auto;
}