*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --mainRed: #7d1201;
    --hoverRed: #680e00;
    --textColor: white;
    --detailYellow: #dbb405;
}

.header{
    position: sticky;
    top: 0;
    z-index: 2;
}

.topBarContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.699)) , url('../src/texturebanner.png');
    color: var(--textColor);
}

.logo{
    width: 8%;
    flex-shrink: 1;
    position: relative;
    overflow: visible;
}

.topBarContent{
    margin: 0.4rem;
    flex-grow: 1;
    flex-shrink: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.topBarText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background: var(--textColor);
    border-radius: 2px;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adjust{
    object-position: left center;
}

.adjust2 {
    object-position: 50% 70%;
}

.adjust3 {
    object-position: 0% 70%;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dot.active {
  background: white;
}

.statisticSubTitle{
    border-bottom: 1px solid var(--detailYellow);
}

.itemContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.iconHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    width: 5rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.iconHolder img{
    width: 100%;
}


.itemTitle{
    margin-bottom: 0.2rem;
    width: 13rem;
}

.itemContent p{
    text-align: center;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.589);
    border-bottom: 2px solid var(--detailYellow);
    border-top: 2px solid var(--detailYellow);
    border-right: 2px solid var(--detailYellow);
    padding: 0.2rem 0.6rem;
    margin-left: -1rem;
    border-radius: 8px;
    width: 12rem;
    font-weight: 600;
}

.statisticsResume{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.statisticResumeText{
    font-weight: 700;
    font-size: 2rem;
    color: var(--detailYellow);
    text-transform: uppercase;
}

.statisticResumeNum{
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.589);
    font-size: 2rem;
    border: 2px solid var(--detailYellow);
    padding: 0.1rem 2rem;
    border-radius: 8px;
}

.newsSection h2{
    font-size: 2rem;
    width: 50%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.newsHolder{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftNewsHolder{
    width: 50%;
}

.mainNew{
    position: relative;
    margin: .2rem 0;
    overflow: hidden;
}

.cardImage{
    display: block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.cardImage:hover  {
    transform: scale(110%);
    
}

.mainTitleHolder{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    box-sizing: border-box;
}

.mainNewTitle{
    margin: 0;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

.secondNews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4%;
}

.secondNew{
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
}

.transparenciaBody{
    background-color: #81120c;
}

.contentSection{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentSection h2{
    margin: 1rem;
    font-size: 2.4rem;
    color: white;
}

.menu {
    color: var(--textColor);
    width: 70%;
    padding: 1rem;
    background-color: rgba(19, 18, 18, 0.911);
    border: 2px solid var(--detailYellow);
    border-radius: 8px;
}

.menu h2{
    text-align: center;
    font-size: 1.6rem;
}
.menu-content {
    margin-top: 10px;
}

.pdf-container {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--detailYellow);
    border-radius: 8px;
    }

.pdfContainerHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hidden {
    display: none;
    }

.toggleButton{
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.imgHidden{
    display: inline-block;
    margin: 1rem;
    width: 100%;
}

.showing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*<----- MOBILE -------> */

@media (max-width: 999px){

.topBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    border: 1px solid green;
}

.logo img{
    position: absolute;
    top: 8px;
    left: 16px;
    width: 150%;
    max-width: 120px;
    min-width: 80px;
}

/*--------------------- EDITAR A PARTIR DAQUI --------------------*/
.topBarText{
    border: 1px solid green;
}

.icon{
    display: inline-block;
    font-size: 1.4rem;
}

.iconTel{
    font-size: 2rem;
    margin: 0 0.5rem;
}

.topBarButton{
    background-color: var(--mainRed);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 8px;
}

.topBarButton:hover{
    background-color: var(--hoverRed);
    transition-duration: 0.3s;
}

.donateButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
/*--------------------- EDITAR ATÉ AQUI --------------------*/

 /* mostra hamburger */
.hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 30px;
}

/* NAV escondida por padrão */
.headerNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--mainRed);
    z-index: 10;
}

/* quando abrir menu via JS */
.headerNav.active {
    display: block;
}

/* lista vira coluna */
.headerNavList {
    flex-direction: column;
    width: 100%;
}

/*--------------------- COMEÇAR EDITAR AQUI --------------------*/
.headerNavList li {
    text-align: center;
    margin: 0.5rem 0;
}

.navListLink {
    display: block;
    width: 100%;
    padding: 1rem;
}

.navListLink:hover{
    background-color: var(--hoverRed);
}

.navListLink {
    white-space: nowrap;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    color: var(--textColor);
    text-decoration: none;
    transition-duration: 0.3s;
}

/*--------------------- EDITAR ATÉ AQUI --------------------*/
.hero-slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.statisticSection{
    padding: 1rem 0.2rem;
    background-image: linear-gradient( var(--hoverRed), var(--mainRed));
}

.statisticArticle{
    width: 96%;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.425), black);
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statisticTitle{
    width: 90%;
    text-align: center;
    margin-top: 0.5rem;
    text-transform: uppercase;
    color: var(--detailYellow);
}

.statisticsHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.statisticsInside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statisticItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    padding: 1rem;
    border-bottom: 2px solid var(--detailYellow);
}

}

/*<---------------- Desktop ----------> */

@media (min-width: 1000px) {

.topBar{
    padding: 0rem 2rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;

}

.logo img{
    position: absolute;
    top: 8px;
    width: 150%;
    max-width: 120px;
    min-width: 80px;
}

.topBarText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.icon{
    display: inline-block;
    font-size: 1.4rem;
}

.iconTel{
    font-size: 2rem;
    margin: 0 0.5rem;
}

.topBarButton{
    background-color: var(--mainRed);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 8px;
}

.topBarButton:hover{
    background-color: var(--hoverRed);
    transition-duration: 0.3s;
}

.donateButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.headerNav{
    background-color: var(--mainRed); 
}

.headerNavList{
    list-style: none;
    width: 60%;
    min-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.headerNavList li {
    flex-shrink: 1;
    margin: 1rem;
}

.navListLink:hover{
    background-color: var(--hoverRed);
}

.navListLink {
    white-space: nowrap;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    color: var(--textColor);
    text-decoration: none;
    transition-duration: 0.3s;
}

/*Hero banner*/

.hero-slider {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.statisticSection{
    padding: 1rem;
    background-image: linear-gradient( var(--hoverRed), var(--mainRed));
}

.statisticArticle{
    padding: 1rem 0 1rem 0;
    width: 50%;
    min-width: 800px;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.425), black);
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.statisticTitle{
    text-align: center;
    text-transform: uppercase;
    color: var(--detailYellow);
}

.statisticsHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.statisticsInside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.statisticItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    padding: 2rem;
}

/* details dividing blocks */

.topLeft{
    border-right: 2px solid var(--detailYellow);
    border-bottom: 2px solid var(--detailYellow);
}

.topRight{
    border-bottom: 2px solid var(--detailYellow);
}

.bottomLeft{
    border-right: 2px solid var(--detailYellow);
}
}