*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --mainRed: #7d1201;
    --hoverRed: #680e00;
    --textColor: white;
    --detailYellow: #dbb405;
}

html{
    scroll-behavior: smooth;
}

.header{
    position: sticky;
    top: 0;
    z-index: 2;
}

.topBarContainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.699)) , url('../src/texturebanner.png');
    color: var(--textColor);
}

.logo{
    width: calc(10dvw);
    flex-shrink: 1;
    position: relative;
    overflow: visible;
}

.topBarContent{
    margin: 0.4rem;
    flex-grow: 1;
    flex-shrink: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.topBarText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background: var(--textColor);
    border-radius: 2px;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adjust{
    object-position: left center;
}

.adjust2 {
    object-position: 50% 70%;
}

.adjust3 {
    object-position: 0% 70%;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dot.active {
  background: white;
}


.homeStatisticSubTitle{
    border-bottom: 1px solid var(--detailYellow);
}

.itemContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.iconHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    width: 5rem;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.iconHolder img{
    width: 100%;
}


.itemTitle{
    margin-bottom: 0.2rem;
    width: 13rem;
}

.itemContent p{
    text-align: center;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.589);
    border-bottom: 2px solid var(--detailYellow);
    border-top: 2px solid var(--detailYellow);
    border-right: 2px solid var(--detailYellow);
    padding: 0.2rem 0.6rem;
    margin-left: -1rem;
    border-radius: 8px;
    width: 12rem;
    font-weight: 600;
}

.homeStatisticsResume{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.homeStatisticResumeText{
    font-weight: 700;
    font-size: 2rem;
    color: var(--detailYellow);
    text-transform: uppercase;
}

.homeStatisticResumeNum{
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.589);
    font-size: 2rem;
    border: 2px solid var(--detailYellow);
    padding: 0.1rem 2rem;
    border-radius: 8px;
}

.transparenciaTitle{
    text-transform: uppercase;
}

.homeNewsSection{
    padding-bottom: 2rem;
}

.homeNewsSection h2{
    font-size: 2rem;
    width: 50%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.homeNewsHolder{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftNewsHolder{
    width: 50%;
}

.mainNew{
    position: relative;
    margin: .2rem 0;
    overflow: hidden;
}

.cardImage{
    display: block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.cardImage:hover  {
    transform: scale(110%);
    
}

.mainTitleHolder{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    padding: 12px 16px;
    box-sizing: border-box;
}

.mainNewTitle{
    margin: 0;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

.secondNews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4%;
}

.secondNew{
    overflow: hidden;
    position: relative;
    border: 1px solid grey;
}

.transparenciaBody{
    background-color: var(--mainRed);
}

.contentSection{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.transparenciaTitle{
    margin: 1rem;
    font-size: 2.4rem;
    color: var(--hoverRed);
    text-align: center;
}

.contentTitle{
    color: white;
}

.menu {
    color: var(--textColor);
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    background-color: rgba(19, 18, 18, 0.911);
    border: 2px solid var(--detailYellow);
    border-radius: 8px;
    text-align: center;
}

.menu h2{
    text-align: center;
    font-size: 1.6rem;
}
.menu-content {
    margin-top: 10px;
}

.pdf-container {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--detailYellow);
    border-radius: 8px;
    }

.pdfContainerHead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hidden {
    display: none;
    }

.toggleButton{
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.imgHidden{
    display: inline-block;
    margin: 1rem;
    width: 100%;
}

.showing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: var(--mainRed);
}

.footerLogo{
    width: 6rem;
}

.footerLogo img{
    width: 100%;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLeftTitle{
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.footerEmergencyNumber{
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.footerDonateButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-decoration: none;
    background-color: var(--mainRed);
    color: white;
    width: fit-content;
    white-space: nowrap;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.footerDonateButton:hover{
    background-color: var(--hoverRed);
}

.footerDonateButton .icon{
    font-size: 2rem;
}

.brandHolder{
    background-color: rgb(0, 0, 0);
    opacity: 20%;
}

.brandLogo{
    display: block;
    width: 7rem;
    margin-bottom: 0.15rem;
}

/*<--------------- About Us Page ----------------->*/


.aboutUsHeroBanner{
    position: relative;
    height: 35rem;
    overflow: hidden;
}

.aboutUsHeroBannerTitle{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 0.95;
    margin-bottom: 2rem;
}

.aboutUsHeroBannerMarker{
    border: 3px solid var(--detailYellow);
    width: 5rem;
    margin-bottom: 2rem;
}

.heroBannerImg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroBannerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aboutUsHeroBannerPelicula{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.aboutUsHistoryTextTitle{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--mainRed);
    margin-bottom: 1.2rem;
}

.aboutUsHistorySubtitle{
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 80%;
    margin-bottom: 1.2rem;
}

.aboutUsMark{
    border: 3px solid var(--detailYellow);
    width: 6rem;
    margin-bottom: 1.2rem;
}

.aboutUsHistoryText{
    margin-bottom: 1.2rem;
}

.aboutUsHistoryMarks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutUsHistory{
    position: relative;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.aboutUsHistoryContent{
    width: 45%;
}

.aboutUsHistoryMarkCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.5rem;
}

.lineTest{
    border: 3px solid rgb(228, 228, 228);
    position: absolute;
    top: 100%;
    left: 48%;
    height: 200%;
    z-index: -1;
}

.markCardBanner{
    flex: 0 0 auto;
    width: 16rem;
    overflow: hidden;
    border-radius: 8px;
}

.markCardBanner img{
    display: block;
    width: 100%;
    height: 100%;
}

.markCardLogo{
    position: relative;
    flex-shrink: 0;
    padding: 0.8rem;
    background-color: var(--hoverRed);
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.markCardTitle{
    color: var(--hoverRed);
}

.markCardSubtitle{
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
}

.markCardText{
    font-size: 0.9rem;
}

.markCardLogo img{
    display: block;
    width: 100%;
}

.aboutUsStatistics{
    background-color: var(--mainRed);
    padding: 2rem 0;
}

.aboutUsStatisticsList{
    list-style: none;
    width: 80%;
    margin: auto;
}

.aboutUsStatisticsItemText{
    color: rgb(201, 201, 201);
    text-align: center;
    text-transform: uppercase;
}

.aboutUsStatisticsItemLogo{
    width: 30%;
    max-width: 8rem;
}

.aboutUsStatisticsItemIcon{
    width: 100%;
}

.aboutUsStatisticsItemTitle{
    color: white;
    font-size: clamp(2rem, 10dvw, 3rem);
    line-height: 80%;
    text-transform: uppercase;
}

.ourValuesTitle{
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--mainRed);
    margin-bottom: 0.5rem;
}

.ourValuesSubtitle{
    text-align: end;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.ourValuesItemTitle{
    text-align: center;
    text-transform: uppercase;
}

.ourValuesItemText{
    text-align: center;
    margin-bottom: 1rem;
}


/*------------------- Donations Page ----------------------*/

.donationsContent{
    padding: 2rem;
}

.donationsContentTitle{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--mainRed);
    margin-bottom: 1.2rem;
}

.donationsReasonsList{
    list-style: none;
}

.itemRight{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 0.5rem
}

.itemLeft{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem
}

.donateIconHolder{
    background-color: var(--mainRed);
    padding: 1rem;
    border-radius: 24px;
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateLiIcon{
    display: block;
    width: 80%;

}

.itemRight p{
    font-size: 1.2rem;
    text-align: end;
}

.itemLeft p{
    font-size: 1.2rem;
    text-align: start;
}

.donationsMarker{
    border: 3px solid var(--detailYellow);
    width: 10rem;
    margin: auto;
    margin-bottom: 2rem;
}

/*<----- MOBILE -------> */

@media (max-width: 768px){

.topBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.logo img{
    position: absolute;
    top: 8px;
    left: 30px;
    width: 80%;
    max-width: 120px;
    min-width: 60px;
}

.icon{
    display: inline-block;
    font-size: 1.4rem;
}

.iconTel{
    font-size: 2rem;
    margin: 0 0.5rem;
}

.topBarButton{
    display: none;
    background-color: var(--mainRed);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 8px;
}

.topBarButton:hover{
    background-color: var(--hoverRed);
    transition-duration: 0.3s;
}

.donateButton{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 30px;
}
.headerNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--mainRed);
    z-index: 10;
}

.headerNav.active {
    display: flex;
    justify-content: center;
}

.headerNavList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.headerNavList li {
    width: 40%;
    max-width: 300px;
    margin: 0.5rem 0;
    text-align: center;
}

.navListLink {
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.navListLink:hover{
    border-bottom: 2px solid var(--detailYellow);
}

.navListLink {
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0.4rem;
    color: var(--textColor);
    text-decoration: none;
    transition-duration: 0.1s;
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.homeStatisticSection{
    padding: 1rem 0.2rem;
    background-image: linear-gradient( var(--hoverRed), var(--mainRed));
}

.homeStatisticArticle{
    width: 96%;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.425), black);
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeStatisticTitle{
    width: 90%;
    text-align: center;
    margin-top: 0.5rem;
    text-transform: uppercase;
    color: var(--detailYellow);
}

.homeStatisticsHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.homeStatisticsInside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeStatisticItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    padding: 1rem;
    border-bottom: 2px solid var(--detailYellow);
}

.footerContainer{
    padding: 1rem;
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.425));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footerContent{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapHolder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContact{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.brand{
    width: 100%;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    color: white;
    padding: 0.5rem;
}

/*<--------------- About Us Page ----------------->*/

.aboutUsHeroBanner{
    height: 30rem;
}

.aboutUsHeroBannerContent{
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    z-index: 1;
}

.aboutUsHeroBannerTitle{
    width: 96%;
    font-size: clamp(1rem, 10dvw, 3.5rem);
}

.aboutUsHistory{
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.aboutUsHistoryContent{
    width: 90%;
}

.aboutUsHistoryMarkCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}

.lineTest{
    border: 3px solid var(--hoverRed);
    position: absolute;
    top: 100%;
    left: 48%;
    height: calc(100% + 2rem);
    z-index: -1;
}

.markCardBanner{
    display: none;
}

.aboutUsStatisticsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.aboutUsStatisticsItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.aboutUsItensSeparator{
    border-bottom: 2px solid var(--detailYellow);
    width: 70%;
    margin: auto;
    margin: 1rem 0;
}

.aboutUsStatisticsItemTitle{
    color: white;
    font-size: clamp(2rem, 10dvw, 4rem);
    line-height: 80%;
    text-transform: uppercase;
}

.ourValue{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourValues{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.ourValuesList{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ourValuesItem{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid rgb(216, 216, 216);
}

/*------------------- Donations Page ----------------------*/

.donationsReasonsItem{
    max-width: 32rem;
    margin: 4rem auto;
}

}

/* -----------  Intermediate --------------*/

/* ------------ About Us ------------------*/

@media (min-width: 769px) and (max-width: 1080px){

.aboutUsHistory{
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.aboutUsHistoryContent{
    width: 90%;
}

.aboutUsHistoryMarkCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}

.lineTest{
    border: 3px solid var(--hoverRed);
    position: absolute;
    top: 100%;
    left: 48%;
    height: 200%;
    z-index: -1;
}

.markCardBanner{
    flex: 0 0 auto;
    width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.markCardBanner img{
    display: block;
    width: 100%;
    height: 100%;
}

.aboutUsStatisticsList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.aboutUsStatisticsItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: calc(50% - 1rem);
}

.aboutUsItensSeparator{
    display: none;
}


.ourValue{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ourValueContent{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ourValues{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.ourValuesList{
    width: 85%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: stretch;
}

.ourValuesItem{
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.ourValuesItemIcon{
    flex-shrink: 0;
    width: 8rem;
    height: 8rem;
}

.ourValuesItemText{
    flex-grow: 1;
}

/* ------------ Donate Page ------------------*/

.donationsReasonsItem{
    max-width: 50rem;
    margin: 4rem auto;
}

}


/* ---------- Bigger Pages ---------------*/

@media (min-width: 1081px) {

.aboutUsStatisticsList {
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
}

.aboutUsStatisticsItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: calc(25% - 1rem);
}

.aboutUsItensSeparator{
    display: none;
}

.ourValue{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ourValueContent{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.ourValues{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}


.ourValuesList{
    width: 100%;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10%;
}

.ourValuesItem{
    width: calc(100% / 4);
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
}

.ourValuesItemIcon{
    flex-shrink: 0;
    width: 8rem;
    height: 8rem;
}

.ourValuesItemText{
    flex-grow: 1;
}

.donationsReasons{
    margin-bottom: 3rem;
}

.donationsReasonsList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.donationsContentTitle{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--mainRed);
    margin-bottom: 2rem;
}

.donationsReasonsItem{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.donationsReasonsItem p{
    text-align: center;
}

.donateIconHolder{
    background-color: var(--mainRed);
    padding: 1rem;
    border-radius: 24px;
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateLiIcon{
    display: block;
    width: 80%;

}


.donationsMarker{
    border: 3px solid var(--detailYellow);
    width: 10rem;
    margin: auto;
    margin-bottom: 2rem;
}

}

/*<---------------- Desktop ----------> */

@media (min-width: 769px) {

.topBar{
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;

}

.logo img{
    position: absolute;
    top: 8px;
    width: 80%;
    left: 10px;
    max-width: 120px;
    min-width: 60px;
}

.topBarText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.icon{
    display: inline-block;
    font-size: 1.4rem;
}

.iconTel{
    font-size: 2rem;
    margin: 0 0.5rem;
}

.topBarButton{
    background-color: var(--mainRed);
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.8rem;
    margin: 0.2rem;
    border-radius: 8px;
}

.topBarButton:hover{
    background-color: var(--hoverRed);
    transition-duration: 0.3s;
}

.donateButton{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.headerNav{
    background-color: var(--mainRed); 
}

.headerNavList{
    list-style: none;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.headerNavList li {
    flex-shrink: 1;
    margin: 1rem calc(1dvw * 2);
}

.navListLink:hover{
    border-bottom: 2px solid var(--detailYellow);
}

.navListLink {
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.4rem 0.3rem 0.1rem;
    color: var(--textColor);
}

.donateLink{
    display: none;
}

/*Hero banner*/

.hero-slider {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.homeStatisticSection{
    padding: 1rem;
    background-image: linear-gradient( var(--hoverRed), var(--mainRed));
}

.homeStatisticArticle{
    padding: 1rem 0 1rem 0;
    width: 50%;
    min-width: fit-content;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.425), black);
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.homeStatisticTitle{
    text-align: center;
    text-transform: uppercase;
    color: var(--detailYellow);
}

.homeStatisticsHolder{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.homeStatisticsInside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeStatisticItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: bottom;
    padding: 2rem;
}

/* details dividing blocks */

.topLeft{
    border-right: 2px solid var(--detailYellow);
    border-bottom: 2px solid var(--detailYellow);
}

.topRight{
    border-bottom: 2px solid var(--detailYellow);
}

.bottomLeft{
    border-right: 2px solid var(--detailYellow);
}

.footerContainer{
    padding: 1rem;
    width: 90%;
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.425));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.footerContent{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 15%;
}

.footerContact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.brand{
    width: 60%;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    color: white;
    padding: 0.5rem;
}

/*<--------------- About Us Page ----------------->*/

.aboutUsHeroBannerContent{
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 40%;
    min-width: 32rem;
    z-index: 1;
}

}